.tableList {
  margin-left: 5px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

.tableList td, th {
  border: 2px solid #a7c943;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #a7c943;
  color: #fff;
}

.tableList tr:nth-child(even) {
  background-color: #eaf2d3;
}

.App{
  display: flex;
}